* * {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  background-image: url("https://www.normanrecords.com/images/galleries/211/199461/0004.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



h1 {
  color: rgb(61, 3, 1);
  font: bolder;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 17vmin);
  grid-template-rows: repeat(4, 17vmin);
  gap: 2vmin;
}


img {
  width: 100%;
  border-radius: 3vmin;
}

div:hover {
  transform: scale(0.9);
  transition: transform 150ms ease-in;
  border-top-color: darkgrey;
  cursor: pointer;
}

h3 {
  margin-top: 0;
}

h4 {
  color: rgb(61, 3, 1);
  font: bolder;
}

button {
  background-color: black;
  color: #FFFFFF;
  margin: 0px;
  border-radius: 3vmin;
  justify-content: start;
  align-items: start;
}